
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #042d58;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .upcoming-tests {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .test {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  
  .test h2 {
    color: rgb(7, 160, 33);
  }
  
  .test p {
    margin: 0;
    color: #333;
  }
  
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ee7a1b;
    color: #fff;
    border-radius: 5px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .exam {
    margin-left: auto; 
  }