*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0 50%;
}
.signup{
    width: 700px;
    height: 590px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.95);
    border-radius: 30px;
    background: #fff;
    color: #000;
    padding: 9% 33%;
}
.signup h1{
    font-size: 36px;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 15px;
}
.signup .input_box {
    position: relative;
    margin: 4px 0px;
}
.input_box input{
    width: 200%;
    height: 40px;
    background: transparent; 
    border: none;
    outline: none;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px;
    margin: 4px -50%;
}
.input_box input::placeholder {
    color: #000;
}
.signup .gender-birth{
    display: flex;
    flex-direction: row;
    margin: 7px -55px;
}
.gender-birth .gender{
    width: 50%;
}
.gender input{
    cursor: pointer;
}
.gender-birth .gender fieldset{
    padding-left: 12px;
    border-radius: 7px;
    border: none;
    border: 1px solid black;
}
.gender-birth .gender fieldset .male,.female{
    margin: 0 20px 0 5px;
}
.gender-birth .birth{
    padding: 8.5px 0 0 20px;
}
.birth input{
    width: 138%;
    height: 28px;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 7px;
    padding-left: 3px;
}
.signup .phone-class{
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.phone-class .phone{
    padding-left: 5px;
}
.phone input{
    width: 174px;
    height: 27px;
    border-radius: 7px;
    border: none;
    outline: none;
    border: 1px solid black;
    padding: 13px;
}
.phone input::placeholder{
    font-size: 15px;
    color: #000;
}
.phone-class .class{
    padding-right: 8px;
}
.class .std{
    width: 150.5px;
    height: 27px;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 15px;
    color: #000;
}
.signup .password{
    display: flex;
    column-gap: 180px;
}
.password .input_box{
    margin: 0 -30px;
    width: 90px;
}
.password .input_box .message{
    margin-left: -25px;
    margin-right: -59px;
    font-size: 14.5px;
}
.signup .botn{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: transparent;
    transition: background-color .3s, box-shadow .5s;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    margin: 15px 0 0 0;
    font-size: 16px;
    cursor: pointer;
}
.signup .botn:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.signup .botn:active{
    background-color: #eeeeee;
}
.signup .register-link {
    text-align: center;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
}
h3{
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin: 0 -120px;
}
h3::before,h3::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h3::before {
    right: 0.5em;
    margin-left: -50%;
}
h3::after {
    left: 0.5em;
    margin-right: -50%;
}
.signup .google-sign-in-button {
    width: 101%;
    height: 33px;
    margin: 11px -0%;
    padding: 5px 16px 20px 45px;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 18px 7px;
    color: black;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    transition: background-color .3s, box-shadow .3s;
    cursor: pointer;
}
.google-sign-in-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.google-sign-in-button:active {
    background-color: #eeeeee;
}